@font-face {
  font-family: "Karla";
  src: url("static/fonts/Karla/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla-Bold";
  src: url("static/fonts/Karla/Karla-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d5cbeb;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Karla", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #32404e;
  background: #fff;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style-type: none;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.grid-parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.grid-12,
.grid-11,
.grid-10,
.grid-9,
.grid-8,
.grid-7,
.grid-6,
.grid-5,
.grid-4,
.grid-3,
.grid-2,
.grid-1,
.grid-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.layout-end {
  justify-content: end !important;
}

.layout_rel {
  position: relative;
}

.vertical_alignc {
  align-content: center !important;
  align-items: center !important;
  vertical-align: middle !important;
}
.layout-center {
  justify-content: center !important;
}
.layout-end {
  justify-content: end !important;
}

.layout_rel {
  position: relative;
}
.box_marg-auto {
  margin: auto;
}
.box_hrMargin-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.box_hrPad-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.box_margleft-auto {
  margin-left: auto;
}

.box_margBot0 {
  margin-bottom: 0;
}

.box_topMargin-1 {
  margin-top: 0.5rem !important;
}

.box_BotMargin-1 {
  margin-bottom: 0.5rem !important;
}

.box_margBot4 {
  margin-bottom: 3rem;
}

.box_margBot1 {
  margin-bottom: 1rem !important;
}

.box_margBot3 {
  margin-bottom: 3rem !important;
}

.box_BotPad1 {
  padding-bottom: 1rem !important;
}

.box_margBot2 {
  margin-bottom: 1.5em !important;
}

.box_margTop2 {
  margin-top: 1.5em;
}

.box_hrMargin-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.box_hrPad-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.box_hrMargin-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box_vertPad1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.box_vertPad2 {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.box_hrPad2 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.box_rightPad2 {
  padding-right: 1.5em;
}

.box_BotPad2 {
  padding-bottom: 1.5em;
}
.box_pad3 {
  padding: 2rem 4.5% !important;
}

.box_horizontalPad2 {
  padding-right: 3%;
  padding-left: 3%;
}

.box_topPad5 {
  padding-top: 4.5em;
}

.box_padHalf {
  padding: 0.25em 0.75%;
}

.box_topPad2 {
  padding-top: 2em;
}

.box_vertPad5 {
  padding-bottom: 4.5em;
  padding-top: 4.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  color: #232f3e;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
p {
  margin-bottom: 2em;
  line-height: 1.5;
  font-size: 1.25;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}
.text_7n {
  font-style: normal;
  font-weight: 700;
}
.img-cover {
  width: 100%;
  height: auto;
  display: block;
}
.bg_white {
  background: rgba(255, 255, 255, 1);
}
.bg-light {
  background: #f8f9fa !important;
}
.max-width {
  max-width: 1124px;
}

.text_c-orange {
  color: rgb(240, 141, 11);
}

.text_c-red {
  color: rgb(230, 36, 36);
}

.text_c-light_gr {
  color: #f1f1f1;
}

.text_c-white {
  color: #fff;
}

.text_c-green {
  color: #38b39e;
}

.text_c-blue {
  color: #232f3e;
}

.text_c-cream {
  color: #ac9074;
}
.text_allCaps {
  text-transform: uppercase;
}
.text_4 {
  font-style: normal;
  font-weight: 400;
}
.text__center {
  text-align: center;
}
h2 {
  font-size: 24px;
}
h2 > span {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
}
/* header styles */

header {
  background: transparent;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.2); */
}
.header {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: transparent;
}

.navbar {
  min-height: 3.25rem;
}

.navbar-brand {
  flex-shrink: 0;
  min-height: 3.25rem;
  display: flex;
  align-items: stretch;
  -webkit-box-align: stretch;
}

.navbar-link,
a.navbar-item {
  cursor: pointer;
}

.navbar a {
  color: #2c3e50;
  font-family: "Karla-Bold";
  font-size: 16px;
}

.navbar-item img {
  max-height: 2.75rem;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item,
.navbar-link {
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: #2c3e50;
}
/* main styles */
main.landing-banner {
  margin-top: 3.9rem;
}
main .banner {
  height: 70vh;
}
.d__flex {
  display: flex !important;
}
.flex_column {
  flex-direction: column !important;
}
main .banner .banner_left {
  background: url() #f5ede4 no-repeat;
  background-position: right 20%;
  width: 50%;
  background-size: 40%;
}
.banner_left .content {
  height: 100%;
  padding: 16px;
}
main .banner .banner_right {
  width: 50%;
}
.banner_right img,
.banner_right video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
section.terms_wrap {
  padding: 3rem 0;
  text-align: center;
  height: 30vh;
}
.grid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.--row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
section.terms_wrap i {
  width: 40px;
}
section.terms_wrap h3 {
  font-size: 20px;
  text-transform: capitalize;
  padding: 0.5rem 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-family: sans-serif;
}
section.terms_wrap p {
  font-size: 16px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.align_item-center {
  align-items: center !important;
}
.box {
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.box img {
  width: 100px;
  height: 100px;
  margin: auto;
  object-fit: cover;
  position: relative;
}
.box h4 {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 18px;
  font-family: "Karla", sans-serif;
}

.layout-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 180px;
}
.button_wrap {
  width: 100%;
}
.hr_marg-auto {
  margin: auto;
}
.btn {
  display: block;
  border-radius: 3px;
  width: 40%;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
  font-size: 16x;
  font-family: inherit;
  padding: 10px 30px;
  position: relative;
  z-index: 9;
  outline: none;
  white-space: nowrap;
  align-items: center;
  transition: all 0.3s ease;
}
.btn-rounded {
  border-radius: 50px;
}
.btn-primary-variant {
  background: transparent !important;
  border: 1px solid #a99bdf;
}
.btn-primary {
  background: #a99bdf;
  border: 1px solid #a99bdf;
}
.btn-primary:hover {
  background: #000;
  border: #000;
  color: #fff;
}

/* footer styles */
footer {
  background: rgb(41, 53, 65);
}
.hamburger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

a.hamburger {
  color: #303c42;
  padding-top: 0.5rem;
  border: 2px solid #303c42;
  border-radius: 8px;
}

.hamburger {
  cursor: pointer;
  display: none;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.hamburger span {
  background: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition: background-color, opacity, transform 86ms ease-in-out;
  width: 16px;
}

.hamburger span:first-child {
  top: calc(50% - 6px);
}

.hamburger span:nth-child(2) {
  top: calc(50% - 1px);
}

.hamburger span:nth-child(3) {
  top: calc(50% + 4px);
}

.hamburger.is-active span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
  display: none;
}

.navbar-item {
  display: block;
  -webkit-box-flex: 0;
}

#app-header.navbar_fixed .main-menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #fff;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 16px rgb(0, 0, 0, 16%);
  position: relative;
}
tr {
  padding: 4px 16px;
}
th,
td {
  border: none;
  padding: 16px 4px;
}
th {
  background: #f8f9fa;
  color: #000;
  font-size: 18px;
}
tbody tr:hover {
  background: #edfefe;
}
tr:nth-of-type(even) {
  background: #f8f9fa;
}
tr:nth-of-type(odd) {
  background: #fff;
}
td:nth-child(n + 2),
th:nth-child(n + 2) {
  text-align: right;
}
thead tr > th:first-child {
  text-align: left;
}
tfoot tr:last-child {
  font-weight: 700;
  color: rgb(240, 141, 11);
}
td:first-child {
  font-weight: bolder;
}
td span {
  color: rgb(230, 36, 36);
  font-size: 12px;
  font-weight: lighter;
}
.steps-intent_img_wrapper {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.steps-intent_circle {
  float: left;
  border: 1px solid #9da3a6;
  border-radius: 50%;
  background-clip: padding-box;
  margin-right: 15px;
  width: 45px;
  height: 45px;
  line-height: 42px;
}
.steps-intent_content {
  width: calc(100% - 60px);
  display: inline-block;
}

.site-card {
  border-radius: 10px;
  box-shadow: 0 0 24px rgb(0, 0, 0, 10%);
  background: #fff;
  display: flex;
  backface-visibility: hidden;
  flex-basis: calc(100% - 30px);
  flex-grow: 0;
  flex-shrink: 1;
  margin: 15px;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: box-shadow 0.2s linear, opacity 0.2s linear;
}
.site-card:hover:not(.no-link) {
  box-shadow: 0 0 64px rgb(0, 0, 0, 24%);

  cursor: pointer;
}
.site-content {
  background: #fcf7f3;
  padding-top: 17%;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 16px 16px;
  position: relative;
  word-wrap: break-word;
}
.content__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-bottom: 12px;
  max-width: 81%;
  color: inherit;
}
.content__title img {
  width: 60px;
}
.content__description {
  flex: 1 1 auto;
  font-size: 16px;
  position: relative;
  line-height: 22px;
}
._modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s 0.3s;
  background: rgba(0, 0, 0, 0.4);
}
._modal-backdrop.is-visible {
  visibility: visible;
  opacity: 1;
}
._modal--overpanel {
  height: 100vh;
  top: 100vh;
  transition: top 0.3s ease-in-out 0.3s;
}
._modal--sheet {
  transform: translateX(-50%);
  border: 0.0625rem solid #b7bcbf;
}
._modal {
  background: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 75%;
  max-width: 54rem;
  left: 50%;
}
._modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  flex: 0 0 auto;
  z-index: 1;
  min-height: 4.5rem;
}
._modal-header__close {
  flex: 0 0 3rem;
  margin: 0.75rem;
  height: 3rem;
  text-align: right;
}
._modal-header__close-btn {
  font-size: 1.5rem;
  display: flex;
  align-self: center;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #fff;
  color: #2c2e2f;
  border-radius: 50%;
  border: 0.0625rem solid #b7bcbf;
  padding: 0;
  padding-left: 4.5px;
  cursor: pointer;
  text-indent: 0.6125rem;
  position: relative;
}
._modal__contents {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 3rem 0;
  position: relative;
  border-radius: inherit;
  text-align: center;
}
._modal--overpanel,
._modal--sheet {
  transform: translateX(-50%);
  top: 0;
  border: 0.0625rem solid #b7bcbf;
}
address {
  font-style: normal;
}
.notify > .wrapper > span {
  color: #ee0808;
  font-size: 20px;
}
@media screen and (max-width: 1023px) {
  .navbar-menu {
    padding: 0.5rem 0;
    flex-basis: 100%;
    flex-grow: 1;
  }
  .navbar-menu.is-active {
    display: block;
  }
  .hamburger {
    display: block;
  }
  section.terms_wrap {
    height: auto !important;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar,
  .navbar-end,
  .navbar-menu,
  .navbar-start {
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
  }
  .navbar-menu {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-start {
    -webkit-box-pack: start;
    align-items: flex-start;
    margin-right: 82px;
  }
  .navbar-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar-item,
  .navbar-link {
    align-items: center;
  }
}

@media only screen and (min-width: 700px) {
  .grid-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .grid-11 {
    max-width: 91.2222%;
    flex: 0 0 91.2222%;
  }
  .grid-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
  .grid-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-8 {
    flex: 0 0 66.6667%;
  }
  .grid-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .grid-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }
  .grid-1 {
    flex: 0 0 8%;
    max-width: 8%;
  }
  .grid-lg-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .grid-lg-0 {
    display: none;
  }
  .site-card {
    border-radius: 10px;
    box-shadow: 0 0 24px rgb(0, 0, 0, 10%);
    background: linear-gradient(to right #ff6f00, #ff9100);
    display: flex;
    backface-visibility: hidden;
    flex-basis: calc(100% / 3 - 30px);
    flex-grow: 0;
    flex-shrink: 1;
    margin: 15px;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: box-shadow 0.2s linear, opacity 0.2s linear;
  }
}
@media screen and (max-width: 648px) {
  .banner.d__flex {
    flex-wrap: wrap-reverse;
  }
  main .banner {
    height: 100vh;
  }
  main .banner > .banner_left,
  main .banner > .banner_right {
    width: 100%;
  }
}
